.chat-room-container {
  display: grid;
  margin-left: 0px;
  height: 440px;
  grid-template-columns: 80fr 20fr; /*repeat(auto-fit, minmax(240px, 1fr)); 70% 25%; */
  grid-template-rows: 10fr 70fr 20fr; /*minmax(310px, 2fr) minmax(310px, 1fr);/* repeat(2, minmax(310px, 1fr)); /* 450px 450px; */
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* position: initial; */
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  /* display: flex; */
  flex-direction: column;
  margin: 0.1px;
  max-height: 93%;
}

.room-name {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 7px 7px;
  margin-top: 10px;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
  font-size: 9px;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.new-message-input-field {
  /* height: 50%; */
  /* position: inherit; */
  max-height: 50%;
  font-size: 9px;
  border-radius: 5px;
  /* padding: 8px 12px; */
  resize: inherit;
  margin-top: 1px;
  width: 100%;
  /* grid-column: 1 / 2;
  grid-row: 3 / 3; */
}
.send-message-button {
  font-size: 12px;
  font-weight: 60;
  color: white;
  background: #5831a2;
  /* padding: 5px 4px; */
  /* width: 75px; */
  height: 50%;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  /* grid-column: 2 / 2;
  grid-row: 3 / 3; */
}

.row-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: 210px;
}

.messages-container,
.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
